.titulo{
    text-align: center;
    color: white;

}

.section {
    border: 2px solid black;
    background-color: white;
    margin: auto 25%;
    padding: auto;
    border-radius: 10px;
    border-style: outset;
    padding: 15px;
    text-align: center;
}

.select {
    padding: 10px;
}

.button{
    background-color: white;
    border: 2px outset black;
    border-radius: 5px;
}

